.footer {
	background-color: $color-black;
	display: flex;
	align-items: center;
	justify-content: center;

	color: whitesmoke;
	padding: 5% $padding-horizontal;
	width: 100%;
	flex-wrap: wrap;

	.footer-address-section {
		display: flex;
		flex: 1;
		flex-direction: column;
		letter-spacing: 2px;

		h3 {
			margin: 0.5em 0;
			padding: 0;
		}

		p {
			font-size: 0.9em;
			margin: 0.5em 0;
			padding: 0;
		}
	}

	.footer-link-section {
		align-items: flex-start;
		justify-content: space-evenly;
		display: flex;
		flex: 2;
		flex-wrap: wrap;
		letter-spacing: 2px;

		.footer-sections {
			display: flex;
			flex-direction: column;
			margin: 2em;

			a {
				font-size: 0.9em;
				margin: 0.5em 0;
				cursor: pointer;
			}
		}
	}
}
