$nav-item-padding: 0.4em 1em;
@import './navdropdown';

@mixin nav-item-hover {
	letter-spacing: 2px;
	font-size: 0.9em;
	@include n-m-p;

	border-color: $color-pink;

	&:hover {
		border-bottom: 1px solid $color-pink;
	}
}

.v-navbar {
	background-color: black;
	align-items: center;
	height: 10vh;
	min-height: 4em;
	display: flex;
	color: whitesmoke;
	z-index: 19;
	//padding: 2em 0;

	@media only screen and (max-width: $medium-screen) {
		height: 4em;
		min-height: 4em;
	}
}

.v-nav {
	display: flex;
	flex: 4;
	justify-content: space-between;
	color: whitesmoke;

	@media only screen and (max-width: $medium-screen) {
		padding: 1em 0;
	}
}

.nav-brand-item {
	display: flex;
	flex: 1;
	color: $color-light;
	font-size: 2em;
	font-weight: 300;
	cursor: pointer;
	margin: 0;

	h1 {
		margin: 0;
		padding: 0;
	}
}

.v-navitem {
	@media only screen and(min-width:$large-screen) {
		@include nav-item-hover;
	}
	display: flex;
	align-items: center;
	cursor: pointer;
	@media only screen and(max-width:$medium-screen) {
		margin: 0.5em 0;
	}
}

.nav-dd {
	background-color: $color-black;
	padding: 2px 0;
	@media only screen and(min-width:$large-screen) {
		@include nav-item-hover;
	}
	@media only screen and(max-width:$medium-screen) {
		margin: 0.5em 0;
	}
}

.nav-dd-item {
	padding: 10px 20px;
}

.v-nav-collapse {
	padding: 0% 4.5%;
	background-color: black;
}

.nav-brand-logo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex: 1;
	margin-left: 4.5%;
	//min-height: 2em;
	//background-color: blue;
	cursor: pointer;
	@media only screen and(max-width:360px) {
		padding: 3px 0;
		//background-color: red;
	}

	@media only screen and(max-width:320px) {
		padding: 5px 0;
		//background-color: red;
	}
}

.nav-item-custom {
	display: flex;
	color: $color-light;
	margin: 0 0.2em;

	padding: $nav-item-padding;
	cursor: pointer;
	transition: 0.2s;
	border-radius: 2px;
	min-width: 100px;
	text-align: center;
	align-items: center;
	justify-content: center;

	&:hover {
		background-color: $primary-hover;
	}

	p {
		padding: 0;
		margin: 0;
		text-align: center;
	}
}

.v-nav-icon-container {
	display: flex;
	//align-items: center;
	cursor: pointer;
}

.cart-badge {
	border-radius: 500px;
	align-items: center;
	justify-content: center;
	display: flex;
	height: 15px;
	margin-left: -12px;
	margin-right: 0px;
	background-color: $color-pink;
	margin-top: -10px;
	padding: 0 3px;

	span {
		font-size: 10px;
		font-weight: 800;
		border-radius: 500px;
		color: $color-black;
		margin-left: 2px;
	}
}

.custom-toggler {
	color: red;
	border: 1px solid red;
}

.nav-toggle-v {
	background-color: red;
	border: 1px solid red;
	border: none;
	&:active:after {
		border: none;
	}
}
