@import './loginbutton';

.login-page {
	margin: 15vh 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex: 1;

	.login-form {
		flex-direction: column;
		justify-content: center;
		flex: 1;
		display: flex;
		color: $color-black;

		h3 {
			margin: 1em 0;
			padding: 0;
			text-transform: uppercase;
		}

		input {
			height: 45px;
			width: 25em;
			padding: 0 0.8em;
			margin: 0.2em 0 1.5em 0;
			border: none;
			background-color: white;
			box-shadow: 0 0 10px rgba(black, 0.2);
			//border: 1px solid black;
			letter-spacing: 2px;

			&::placeholder {
				letter-spacing: 2px;
				text-transform: capitalize;
			}

			&:focus {
				outline: 2px solid black;
			}

			@media only screen and (max-width: $medium-screen) {
				width: 15em;
			}
		}

		a {
			color: dodgerblue;
			text-decoration-line: underline;
		}
	}
}
