//

.page {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-image: url('../../public/bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.container-center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
}
