.product-page {
	.product-card-top {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.page-product {
	display: flex;
	padding: 12vh 4% 0 4%;
	flex: 1;
	color: $black-color;
	flex-wrap: wrap;
	justify-content: space-between;
	//align-items: center;
	//margin: -2% -5%;
	box-sizing: border-box;

	@media only screen and(max-width:$large-screen) {
		flex-direction: column;
	}

	.product-image {
		box-sizing: border-box;
		margin: 1em;
		background-color: #313234;
		display: flex;

		@media only screen and(max-width:$large-screen) {
			min-width: 250px;
		}
		@media only screen and(max-width:$medium-screen) {
			margin: 0;
			min-width: 100%;
			margin: -5vh -5% 0 -5%;
			overflow: hidden;
			box-sizing: border-box;
		}
	}

	.product-details {
		display: flex;
		flex-direction: column;
		flex: 1;
		margin: 1em;
		box-sizing: border-box;
		color: black;

		@media only screen and(min-width:$large-screen) {
			margin-right: 10%;
		}

		@media only screen and(max-width:$medium-screen) {
			margin: 1em 0;
		}

		h1 {
			@include n-m-p;
			margin-bottom: 16px;
			font-weight: 600;
		}

		h2 {
			@include n-m-p;
			margin: 1em 0;
			font-size: 2em;
			font-weight: 500;
		}

		h4 {
			@include n-m-p;
			margin-bottom: 16px;
			font-size: 24px;
		}

		h5 {
			@include n-m-p;
			margin-bottom: 16px;
			font-size: 20px;
			font-weight: 300;
		}

		p {
			@include n-m-p;
			font-size: 1.1em;
			font-weight: 300;
			margin: 16px 0;
			line-height: 1.8;
		}

		h3 {
			@include n-m-p;
		}
	}
}

.product-image-item {
	object-fit: cover;
}

@import './prodbuttons';
