.home-hero {
	min-height: 100vh;
	background-image: url('../../../public/hero.jpg');
	background-color: #313234;
	background-position: cover;
	background-repeat: no-repeat;
	background-size: 100% 100vh;
	padding: 5% $padding-horizontal;
	display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: column;
	color: $color-light;
	text-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	flex: 1;

	@media only screen and(max-width: $medium-screen) {
		min-height: 60vh;
	}

	@media only screen and(max-width: $small-screen) {
		min-height: 55vh;
	}

	h1 {
		font-size: 5em;
		font-weight: 300;
		margin: 0.5em 0;
	}

	h3 {
		font-size: 4em;
		font-weight: 200;
	}

	@media only screen and(max-width: $medium-screen) {
		h1 {
			font-size: 3em;
		}

		h3 {
			font-size: 2em;
		}
	}
}
