.section-card {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	text-align: left;
	margin: 1em 0.3em;
	min-width: 370px;
	box-sizing: border-box;
	padding: 0 0 10px 0;
	border: 0px solid rgba(0, 0, 0, 0.01);
	backdrop-filter: blur(5px);
	background-color: rgba(white, 0.2);
	background-color: white;
	box-shadow: 0 0 25px rgba(black, 0.1);
	border-radius: 5px;

	@media only screen and(max-width: $medium-screen) {
		min-width: 300px;
	}

	&:hover {
		//background-color: whitesmoke;
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
	}

	.section-card-text {
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		padding: 5px 15px;
		max-width: 200px;
		overflow: hidden;

		h6 {
			display: flex;
			margin: 1px 0;
			font-weight: 500;
			padding: 0;
			flex-grow: 1;
			font-size: 1.15em;
		}

		p {
			margin: 0;
			padding: 0;
			font-weight: 300;
		}

		.card-price {
			@include n-m-p;
			font-weight: 500;
			margin: 0.75em 0 0 0;
		}

		.section-sub-category {
			margin: 1px 0;
			font-size: 0.8em;
			font-weight: 600;
			color: #f16ccf;
		}

		.section-size-text {
			margin: 1px 0;
			color: rgba(0, 0, 0, 0.5);
			font-size: 0.9em;
			font-weight: 500;
		}
	}
}

.v-pc-icon-contaner {
	display: flex;
	flex: 1;
	padding: 0 5px;
	justify-content: space-between;
	width: 100%;
}

.v-pc-icons {
	height: 2.2em;
	width: 2.3em;
	margin: 0.2em;
	padding: 0.5em;
	cursor: pointer;

	&:hover {
		border-radius: 500px;
		background-color: whitesmoke;
	}
}

.favd {
	color: crimson;
}
