.section-card {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	text-align: left;
	margin: 1em 0.5em;
	min-width: 380px;
	box-sizing: border-box;
	padding: 0 0 10px 0;
	border: 0px solid rgba(0, 0, 0, 0.01);
	backdrop-filter: blur(5px);
	background-color: rgba(white, 0.2);
	background-color: white;
	box-shadow: 0 0 25px rgba(black, 0.1);
	border-radius: 5px;

	align-self: center;
	justify-self: center;

	@media only screen and(max-width: $medium-screen) {
		min-width: 300px;
	}

	&:hover {
		//background-color: whitesmoke;
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
	}

	.section-card-text {
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		padding: 5px 15px;
		min-width: 200px;
		overflow: hidden;
		flex: 1;

		h6 {
			display: flex;
			margin: 1px 0;
			font-weight: 700;
			padding: 0;
			flex-grow: 1;
			font-size: 1.1em;
			flex: 1;
		}

		p {
			margin: 0;
			padding: 0;
			font-weight: 300;
		}

		.card-price {
			@include n-m-p;
			font-weight: 500;
			margin: 0.75em 0 0 0;
		}

		.section-sub-category {
			margin: 2px 0;
			font-size: 0.75em;
			font-weight: 500;
			color: $color-pink;
			text-transform: uppercase;
		}

		.section-size-text {
			margin: 1px 0;
			color: rgba(0, 0, 0, 0.5);
			font-size: 0.9em;
			font-weight: 500;
		}
	}
}

@import './section-icons';
