.v-pc-icon-contaner {
	display: flex;
	flex: 1;
	padding: 0 5px;
	justify-content: space-between;
	width: 100%;
}

.card-banner {
	transition: ease-in 0.5s;
	@media only screen and (min-width: $medium-screen) {
	}
	overflow: hidden;
	background-color: black;
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: space-between;
	margin: 0 0.5em;
	border-radius: 100px;
	padding-left: 1em;
	cursor: pointer;
}

.v-pc-icons {
	height: 35px;
	width: 2.3em;
	margin: 0.2em;
	padding: 0.5em;
	color: black;
	cursor: pointer;

	&:hover {
		border-radius: 500px;
		background-color: whitesmoke;
	}
}

.favd {
	color: $color-pink;
}
