.nav-brand-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 2em;
  font-weight: 300;
  padding: 0.3em 1em;
  cursor: pointer;
  margin: 0;
}

.nav-brand-item h1 {
  margin: 0;
  padding: 0;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  margin: 0 0.2em;
  padding: 0.3em 1em;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-item p {
  padding: 0;
  margin: 0;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../../public/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-hero {
  min-height: 100vh;
  background-image: url("../../../public/hero.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 5% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
  .home-hero {
    min-height: 60vh;
  }
}

@media only screen and (max-width: 600px) {
  .home-hero {
    min-height: 55vh;
  }
}

.home-hero h1 {
  font-size: 5em;
  font-weight: 300;
  margin: 0.5em 0;
}

.home-hero h3 {
  font-size: 4em;
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .home-hero h1 {
    font-size: 3em;
  }
  .home-hero h3 {
    font-size: 2em;
  }
}

.home-sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 3em 0 0 0;
}

.home-sections h3 {
  font-size: 3em;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .home-sections h3 {
    font-size: 2em;
  }
}

.home-sections h4 {
  font-weight: 200;
}

.section-arrows {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-arrows .arrow-icon {
  height: 40px;
}

@media only screen and (max-width: 768px) {
  .section-arrows .arrow-icon {
    height: 30px;
  }
}

.section-arrows .arrows {
  padding: 4em 1em;
  margin: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (max-width: 768px) {
  .section-arrows .arrows {
    padding: 2em 0.5em;
  }
}

.section-arrows .arrows:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.section-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 5% 5%;
  overflow: hidden;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.single-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5% 5%;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 1em 2em;
  min-width: 250px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0 1em 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  border: 0px solid rgba(0, 0, 0, 0.01);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

@media only screen and (max-width: 768px) {
  .section-card {
    min-width: 200px;
    margin: 1em 1em;
  }
}

.section-card:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.section-card h6 {
  font-size: 1.2em;
  margin: 1em 0 0 0;
  font-weight: 500;
}

.section-card p {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.consult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  padding: 0 5%;
  font-size: 1.8em;
  font-weight: 300;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .consult {
    font-size: 1.5em;
  }
}

.custom-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #252628;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  margin: 1em 0;
}

.custom-button p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  padding: 1em 2em;
  color: #fff;
  font-weight: 500;
}

.custom-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.footer {
  background-color: #252628;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: whitesmoke;
  padding: 5% 5%;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer-address-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-address-section h3 {
  margin: 0.5em 0;
  padding: 0;
}

.footer .footer-address-section p {
  margin: 0.5em 0;
  padding: 0;
}

.footer .footer-link-section {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer-link-section .footer-sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em;
}

.footer .footer-link-section .footer-sections a {
  margin: 0.5em 0;
  cursor: pointer;
}

.product-page .product-card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10vh 0;
  color: #393131;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-product .product-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5vh 200px 0 64px;
}

.page-product .product-details h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.page-product .product-details h2 {
  margin: 0;
  padding: 0;
  margin: 36px 0;
  font-size: 34px;
  font-weight: 400;
}

.page-product .product-details h4 {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-size: 24px;
}

.page-product .product-details h5 {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 300;
}

.page-product .product-details p {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 300;
  margin: 16px 0;
}

.page-product .product-details h3 {
  margin: 0;
  padding: 0;
}

.page-product .product-details .prod-page-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-product .product-details .prod-page-button-container .prod-page-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #393131;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-right: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 150px;
  height: 50px;
}

.page-product .product-details .prod-page-button-container .prod-page-button:hover {
  background-color: rgba(57, 49, 49, 0.8);
}

.page-product .product-details .prod-page-button-container .prod-page-button p {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 18px;
  font-weight: 300;
}

.login-page {
  margin: 15vh 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.login-page .login-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-page .login-form h3 {
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
}

.login-page .login-form input {
  height: 45px;
  width: 25em;
  padding: 0 0.8em;
  margin-bottom: 1.5em;
  border: none;
  background-color: #f5f0f0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
  .login-page .login-form input {
    width: 15em;
  }
}

.login-page .login-form a {
  color: dodgerblue;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.login-page .login-form .login-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #393131;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-right: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45px;
  width: 8em;
  margin-bottom: 0.8em;
}

.login-page .login-form .login-button:hover {
  background-color: rgba(57, 49, 49, 0.8);
}

.login-page .login-form .login-button p {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.cart-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15vh 5%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shopping-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  padding: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px 0;
}

.delete-from-cart {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: crimson;
  padding: 8px 18px;
  cursor: pointer;
  color: white;
}

.delete-from-cart:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
}

.delete-from-cart p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 400;
}

.checkout-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
}

.checkout-form .checkout-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.checkout-form .checkout-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
}

.checkout-form .checkout-button p {
  margin: 0;
}

.order-details-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15vh 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.order-details-page h3 {
  margin: 10px 0 15px 0;
}

.order-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 70vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5%;
}

.order-details-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-summary {
  padding: 10%;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  background-color: white;
  min-width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.positive-badge {
  padding: 5px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
  background-color: rgba(0, 128, 128, 0.05);
}

.positive-badge p {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.negative-badge {
  padding: 5px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
  color: crimson;
  background-color: rgba(220, 20, 60, 0.05);
}

.negative-badge p {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.display-card-image {
  height: 300px;
  width: 300px;
}

.about-page {
  margin: 15vh 5%;
}

.about-page h3 {
  margin-bottom: 1.5em;
}

.about-page p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 1.2em;
}

.all-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 15vh 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-page {
  margin: 15vh 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile-page h3 {
  margin-bottom: 2em;
}

.my-orders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5em 0;
}

.order-table {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: scroll;
}

.order-table th,
.order-table td {
  padding: 10px 2em;
}

.admin-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin-panel-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 10px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 15vh 0;
  min-height: 100vh;
}

.admin-panel-sidebar p {
  padding: 0;
  margin: 0;
}

.admin-panel-sidebar .sidebar-item {
  padding: 15px 25px;
  margin: 10px 0;
  cursor: pointer;
}

.admin-panel-sidebar .sidebar-item:hover {
  background-color: white;
}

.admin-panel-main {
  padding: 15vh 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.view-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px 25px;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.view-more:hover {
  padding: 50px 25px;
  border-radius: 4px;
}

.view-more h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

.page-section-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 2em;
  min-width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  padding-bottom: 1em;
  background-color: white;
}

@media only screen and (max-width: 768px) {
  .page-section-card {
    min-width: 200px;
    margin: 1em;
  }
}

.page-section-card:hover {
  background-color: white;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.page-section-card h6 {
  font-size: 1.2em;
  margin: 1em 0 0 0;
  font-weight: 500;
}

.page-section-card p {
  margin: 0;
  padding: 0;
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */