@import './stylecomponents/constants';
@import './stylecomponents//primary/nav';
@import './stylecomponents/page';
@import './stylecomponents/home/hero';
@import './stylecomponents/home/sections';
@import './stylecomponents//home/consult';
@import './stylecomponents/primary/footer';
@import './stylecomponents/product/productpage';
@import './stylecomponents/login/loginpage';
@import './stylecomponents/cart/cartpage';
@import './stylecomponents//order/orderdetails';

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.display-card-image {
	height: 300px;
	width: 300px;
}

.about-page {
	margin: 15vh 5%;

	h3 {
		margin-bottom: 1.5em;
	}

	p {
		font-size: 1.2em;
		line-height: 1.5em;
		margin-bottom: 1.2em;
	}
}

.all-products {
	display: flex;
	flex-wrap: wrap;
	margin: 15vh 5%;
	align-items: center;
	justify-content: center;
}

.profile-page {
	margin: 15vh 5%;
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	flex-direction: column;

	h3 {
		margin-bottom: 2em;
	}
}

.my-orders {
	display: flex;
	flex-direction: column;
	margin: 5em 0;
}

.order-table {
	width: 100%;
	flex-direction: column;
	overflow: scroll;

	th,
	td {
		padding: 10px 2em;
	}
}

.admin-panel-sidebar {
	display: flex;
	flex-direction: column;
	background-color: white;
	flex: 4;
	padding: 15vh 10px;
}

.admin-panel-main {
	display: flex;
	flex-direction: column;
	flex: 8;
}
