.nav-brand-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 2em;
  font-weight: 300;
  padding: 0.3em 1em;
  cursor: pointer;
  margin: 0;
}

.nav-brand-item h1 {
  margin: 0;
  padding: 0;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  margin: 0 0.2em;
  padding: 0.3em 1em;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-item p {
  padding: 0;
  margin: 0;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../../public/bg.jpg");
}

.home-hero {
  min-height: 100vh;
  background-image: url("../../../public/hero.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 5% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
  .home-hero {
    min-height: 60vh;
  }
}

@media only screen and (max-width: 600px) {
  .home-hero {
    min-height: 55vh;
  }
}

.home-hero h1 {
  font-size: 5em;
  font-weight: 300;
  margin: 0.5em 0;
}

.home-hero h3 {
  font-size: 4em;
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .home-hero h1 {
    font-size: 3em;
  }
  .home-hero h3 {
    font-size: 2em;
  }
}

.home-sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 3em 0 0 0;
}

.home-sections h3 {
  font-size: 3em;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .home-sections h3 {
    font-size: 2em;
  }
}

.home-sections h4 {
  font-weight: 200;
}

.section-arrows {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-arrows .arrow-icon {
  height: 40px;
}

@media only screen and (max-width: 768px) {
  .section-arrows .arrow-icon {
    height: 30px;
  }
}

.section-arrows .arrows {
  padding: 4em 1em;
  margin: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (max-width: 768px) {
  .section-arrows .arrows {
    padding: 2em 0.5em;
  }
}

.section-arrows .arrows:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.section-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 5em 5% 5% 0;
  overflow: auto;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.section-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0em 2em;
  min-width: 250px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0 1em 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  border: 0px solid rgba(0, 0, 0, 0.01);
}

@media only screen and (max-width: 768px) {
  .section-card {
    min-width: 200px;
    margin: 0em 1em;
  }
}

.section-card:hover {
  border: 10px solid rgba(0, 0, 0, 0.005);
  background-color: rgba(0, 0, 0, 0.05);
}

.section-card h6 {
  font-size: 1.2em;
  margin: 1em 0 0 0;
  font-weight: 500;
}

.section-card p {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.consult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  padding: 0 5%;
  font-size: 1.8em;
  font-weight: 300;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .consult {
    font-size: 1.5em;
  }
}

.custom-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #252628;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  margin: 1em 0;
}

.custom-button p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  padding: 1em 2em;
  color: #fff;
  font-weight: 500;
}

.custom-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer {
  background-color: #252628;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: whitesmoke;
  padding: 5% 5%;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer-address-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-address-section h3 {
  margin: 0.5em 0;
  padding: 0;
}

.footer .footer-address-section p {
  margin: 0.5em 0;
  padding: 0;
}

.footer .footer-link-section {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer-link-section .footer-sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em;
}

.footer .footer-link-section .footer-sections a {
  margin: 0.5em 0;
  cursor: pointer;
}

.display-card-image {
  height: 300px;
  width: 300px;
}
/*# sourceMappingURL=style.css.map */